<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>
<title>本の管理 BookShelf</title>
<body>
	<div th:include="navbar"></div>
	<div id="active" class="home"></div>

	<div class="container">
		<div th:if="${isFailed != null && isFailed}">
			<div class="alert alert-danger m-2" role="alert"><p th:text="${msg}"></p></div>
		</div>

		<div th:if="${isFailed != null && !isFailed}">
			<div class="alert alert-success m-2" role="alert"><p th:text="${msg}"></p></div>
		</div>

		<h1>Hello</h1>

		<table border="1">
			<tr>
				<th>id</th>
				<th>title</th>
				<th>author</th>
			</tr>

			<tr th:each="book : ${list}">
				<td><a th:href="@{'/view?bookId=' + ${book.id}}" th:text="${book.id}"></a></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
			</tr>
		</table>

	</div>


 <div th:include="footer"></div>
 <script th:src="@{/js/default.js}"></script>
</body>
</html>