<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>
<title>本の管理 BookShelf</title>
<body>
	<div th:include="navbar"></div>
	<div id="active" class="home"></div>

	<div class="container">
		<h1>Hello</h1>

		<table border="1">
			<tr>
				<th>title</th>
				<th>author</th>
			</tr>

			<tr th:each="book : ${list}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
			</tr>
		</table>

	</div>


 <div th:include="footer"></div>
 <script th:src="@{/js/default.js}"></script>
</body>
</html>