<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>

<title>本の登録</title>

<body>
	<div th:include="navbar"></div>
	<div id="active" class="registry"></div>

	<div class="container">
		<div id="msg" class="pt-2 d-none alert alert-daner">本が見つかりませんでした</div>

		<div class="row pt-3">
			<!-- img -->
			<form class="container p-3" th:action="@{/registry}" th:object="${book}" method="POST">

				<div class="row mb-3">
					<div class="col-2">
						<label>ISBN:</label>
					</div>
					<div class="col-8">
						<input class="form-control" id="isbnBox" type="text" name="isbn" th:field="*{isbn}">
					</div>

					<div class="col-2">
						<a id="searchBtn" class="btn btn-success text-white" role="button">検索</a>
					</div>
				</div>


				<hr>

				<div class="row">
					<div class="pb-3">
						<div class="col-4">
							<div>
								<img id="img" src="" width="200" height="300"  alt="NO IMAGE"/>
							</div>
						</div>
					</div>

					<div class="col-8">

						<div class="row mb-3">
							<div class="col-3">
								<label>タイトル:</label>
							</div>
							<div class="col-9">
								<input id="title" class="form-control" type="text" name="title" th:field="*{title}" required>
								<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red">error!</span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-3">
								<label>タイトル カナ:</label>
							</div>
							<div class="col-9">
								<input id="titleKana" class="form-control" type="text" name="title_kana" th:field="*{titleKana}" required/>
								<span th:if="${#fields.hasErrors('titleKana')}" th:errors="*{titleKana}" style="color:red">error!</span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-3">
								<label>著者:</label>
							</div>
							<div class="col-9">
								<input id="author" class="form-control" type="text" name="author" th:field="*{author}" required/>
								<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red">error!</span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-3">
								<label>出版日:</label>
							</div>
							<div class="col-9">
								<input id="publishDate" class="form-control" type="text" name="publishDate"/>
								<span th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}" style="color:red">error!</span>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-3">
								<label>カバー画像パス:</label>
							</div>
							<div class="col-9">
								<input id="coverPath" class="form-control" type="text" name="coverPath" th:field="*{coverPath}"/>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-3">
								<label>巻数:</label>
							</div>
							<div class="col-9">
								<input id="index" class="form-control" type="number" min="0" name="index" th:field="*{index}"/>
								<span th:if="${#fields.hasErrors('index')}" th:errors="*{index}" style="color:red">error!</span>
							</div>
						</div>

					</div>	<!-- data col -->

				</div>

				<hr>

				<div class="row float-right">
					<div class="col">
						<input class="form-control btn btn-primary" type="submit" value="登録">
					</div>

					<div class="col">
						<input class="form-control btn btn-warning" type="reset" value="リセット">
					</div>
				</div>

			</form>

		</div>

	</div>

	<div th:include="footer"></div>
	<script th:src="@{/js/default.js}"></script>
</body>
</html>